.login-background {
  color: #005B4A;
  text-align: center;
  height: 100vh;
  width: 100vw;
 background: rgb(147,182,89);
background: linear-gradient(18deg, rgba(147,182,89,1) 0%, rgba(103,165,90,1) 35%, rgba(0,129,96,1) 100%);
}

.login-btn:hover {
  background-color: #3F9B78;
  color: #F5F3CC
}